@import url(../../../assets/css/config.css);
.book-passenger-view {
    header {
        height: 2rem;
        border-bottom: 1px solid #DFE0E1;
        text-align: center;
    }
    .psg-type-view {
        border-bottom: 1px solid #EFF0F1;
    }
    .psg-num-view {
        span {
            display: inline-block;
            ;
        }
    }
    .psg-btn {
    	margin: 0 1rem;
        cursor: pointer;
        color: $color-white;
        height: 1.3rem;
        background-color: $color-accent;
        @mixin fontSize 18;
        border-radius: 0.15rem;
    }
}
