.d-input{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 100%;
}
.num-item-l{
  width: 2rem;
  margin-right: 0.35rem;
}
.book-form-item > div{
    margin: 0.6rem 0;
  .book-city, .book-date{
    border-bottom:1px solid #585858;
  }
}