.bgRed{
  background-color: #ca403d;
  color: #ffffff;
}
.pHeight{
  line-height: 0.6rem;
}
.success-detail{
  height: 1.05rem;
  line-height: 1.05rem;
}
.success-name{
  border-left: solid 2px #ffffff;
  line-height: 0.6rem;
}
.success-hint{
  color: #ca403d;
  border-left: solid 2px #ca403d;
}
.success-share{
  margin: 0 1.6rem 1.6rem 1.6rem;
}
.overBtn{
  cursor: pointer;
  color: #818181;
  height: 1.3rem;
  line-height: 1.3rem;
  text-align: center;
  background-color: #ffffff;
  font-size: calc(0.03rem * 18);
  border-radius: 0.15rem;
  border: solid 1px #818181;
}