/**
 * Created by 张森峰 on 2017/4/25.
 */
 @import url(../../../assets/css/config.css);
 
.passenger{
  font-family: 'Microsoft YaHei';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;

  &-body{
    overflow-y: auto;
  }

  &-button{
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    background-color: $color-accent;
    @mixin fontSize 18;
    color: $color-white;
    cursor: pointer;
  }
}
.passenger-list{
  background-color: #ffffff;
  white-space:nowrap;

  &-text>div{
    overflow: auto;
  }
  &-del{
    &-unselected:after{
      content: '';
      display: block;
      box-sizing: border-box;
      height: 0.6rem;
      width: 0.6rem;
      border: 2px solid #adadad;
    }
    &.hidden{
      display: none;
    }
  }
  &-body-icon{
    height: 1rem;
    line-height: 1rem;
    transform: rotate(180deg);
  }
}
.passenger-add{
  user-select: none;

  &-documentNumber{
    background-color: #fff;
    border-bottom: 1px solid #adadad;

    & span{
      color: $color-accent;
    }
    & input{
      text-align: right;
      border: none;
    }
    &-icon{
      transform: rotate(270deg);
    }
    &-type-chosen{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(30, 30, 30, 0.2);

      & div{
        text-align: center;
        background-color: #fff;
        border-top: 1px solid #adadad;
        height: 1.3rem;
        line-height: 1.3rem;
      }
    }
  }
  &-gender{
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    background-image: url(../../../assets/img/loginBackground.jpg);

    & span{
      color: $color-accent;
    }
    &-icon1:after{
      content: '';
      display: block;
      box-sizing: border-box;
      position: relative;
      top: 0.07rem;
      width: 0.5rem;
      height: 0.5rem;
      border: 0.23rem solid #9a4330;
      border-radius: 0.25rem;

      &.hidden{
        display: none;
      }

    }
    &-icon2:after{
      content: '';
      display: block;
      box-sizing: border-box;
      position: relative;
      top: 0.07rem;
      width: 0.5rem;
      height: 0.5rem;
      border: 0.05rem solid #9a4330;
      border-radius: 0.25rem;

      &.hidden{
        display: none;
      }

    }
  }
  &-message{
    &-necessary{
      & span{
        color: $color-accent;
      }
    }
    &-unnecessary{
      & span{
        color: #fff;
      }
    }
    &-input{
      background-color: #fff;
      border-bottom: 1px solid #adadad;

      & input{
        text-align: right;
        border: none;
      }
    }
  }
  &-button{
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    background-color: $color-accent;
    @mixin fontSize 18;
    color: $color-white;
    cursor: pointer;
  }
}